body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #fde7eb; /* Light Pink */
}

.container {
   max-width: 500px;
   margin: 50px auto;
   padding: 20px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   text-align: center;
}

h1 {
   color: #111111; /* Dark Pink */
   font-weight: 1000;
}

p {
   color: #fa0a0a; /* Dark Red */
   margin-bottom: 20px;
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 20px;
   border-radius: 8px;
   background-color: #fff;
}

label {
   margin-top: 15px;
   font-weight: bold;
   color: #fa0a0a; /* Romantic Red */
}

input {
   width: 100%;
   padding: 10px;
   margin-top: 8px;
   margin-bottom: 20px;
   border: 1px solid #880808; /* Darker Pink */
   border-radius: 4px;
   box-sizing: border-box;
}

button {
   background-color: #fa0a0a; /* Red */
   color: #fff;
   padding: 10px 20px;
   font-size: 16px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

button:hover {
   background-color: #ff001e; /* Dark Pink */
}

div.result-container {
   text-align: left;
}

strong {
   color: #d81b60; /* Dark Pink */
}

em {
   color: #c2185b; /* Dark Pink */
}

button.share-btn {
   background-color: #ff001e; /* Dark Pink */
   color: #fff;
   margin-top: 20px;
   padding: 10px 20px;
   font-size: 16px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

button.share-btn:hover {
   background-color: #ff001e /* Darker Pink */
}
